* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #3b2a22;
    padding: 10px;
    position: fixed;
    z-index: 100;
}

nav .button {
    width: 50px;
    height: 50px;
    background-color: #345775;
    border: solid 5px white;
}

.nav_padding {
    width: 100%;
    height: 80px;
}

.button:hover{
    background-color: #0f2848;
    -webkit-transform: rotate(45deg);
    -webkit-transition: all 0.15s ease;
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 10;
    position: fixed;

    
    -webkit-transition: all 0.3s ease;
    
    -webkit-transform: translateX(-350px)
}

.toggleOn {
    -webkit-transform: translateX(0px);
}

.toggleOff {
    -webkit-transform: translateX(-350px);
}

.header{
    background: url("mountain-names.jpg") center top;
    background-size: cover;
    border-bottom: solid 5px white;
}

h1{
    text-align: center;
    font-family:"Verdana";
    padding: 10px;
    font-size: 30px;
    color: white;
}

h2 {
    text-align: center;
    padding: 10px;
    color: white;
}

.wrapperHeader{
    display: flex;
    justify-content: center;
}


.aboutMe{
    background-color: #5d493d;
    padding: 10px 100px;
    width: 800px;
    border: solid 5px #3b2a22;
}

p{
    font-family:"Georgia";
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.certifications{
    font-family:"Times New Roman";
    text-align:left;
    color: white;
    padding-left: 300px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.footer{
    justify-content: center;
    background-color:#345775;
    border: solid 5px #0f2848;
    width: 1000px;
}

body{
    background-color: #fff4e6;
}

ul{
    padding-left: 300px;
}

li{
    color: white;
    
}

.computer{
    width: 475px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imgText{
    text-align: center;
    padding: 30px 100px;
    color: white;
}

.contentWrapper{
    display: flex;
    justify-content:center;
}

